/* ------ variables -------- */

/* ------ end variables -------- */

body {
  /* background-color: #1b1b1b; */
  /* background-color: rgb(155, 155, 155); */
  background-image: url('../img/bg_trees.jpg');
  background-attachment: fixed;
  color: rgb(155, 155, 155);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
}

.page_content {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  /* for desktop screensize */
  margin-left: 10%;
  margin-right: 10%;
  /* flex-wrap: wrap; */
  align-items: center;
  background-color: #1d1e23dc;
  /* border-radius: 7px; */
  /* box-shadow: 7px 7px 7px rgb(0, 0, 0); */
  box-shadow: 0 0 10px 10px rgb(0, 0, 0);
}

/* .about-container {
  display: inline-block
} */

.about-paragraph {
  float: left;
  text-align: left;
}


.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: .5rem;
}

.skills-wrapper {
  margin-left: 0px;
  margin-right: 0px;
}

.item{
  width:200px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}

.icon-card {
  background-color: rgb(206, 206, 206);
  border-radius: 50px;
  box-shadow: 0 0 5px 5px rgb(0, 0, 0);
  padding: 20px;
  margin: 10px;
}

.title {
  /* color: #1b1b1b; */
  color: rgb(206, 206, 206);
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  margin-top: 150px;
  justify-content: center;
  letter-spacing: 5px;
  display: flex;
  /* text-shadow: 2px 2px 7px black; */
}

h1 {
  /* color: #16c0d6; */
  /* color: rgb(177, 177, 177); */
  /* color: #1b1b1b; */
  color: rgb(206, 206, 206);
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  margin-top: 5px;
  text-align: center;
  letter-spacing: 5px;
  /* text-shadow: 2px 2px rgb(170, 170, 170); */
}

h2 {
  font-size: 24px;
  font-weight: 350;
  text-align: center;
  letter-spacing: 3px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  font-style: italic;
  margin-bottom: 20px;
}

a {
  color: #12ccb0;
  /* color: rgb(255, 83, 106); */
}

.icon {
  width: 100px;
  height: auto;
  text-align: center;
  
  margin-bottom: 25px;
}

.project-section {
margin-top: 250px;
}

.contact-me {
  margin-top: 250px;
  text-align: center;
}

.about-me {
  margin-top: 250px;
}

a:hover a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #489c79;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  margin: 0 auto;
  padding: 20px 30px;
  padding: 10px;
  text-align: center;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #12ccb0;
  color: white !important;
  text-decoration: none;

  /* adds spacing to the button */
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;

  /* transition: all 150ms ease-in-out; */
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  margin: 0 auto;
  padding: 20px 30px;
  padding: 10px;
  text-align: center;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #12ccb0;
  color: white !important;
  text-decoration: none;

  /* adds spacing to the button */
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;

  /* transition: all 150ms ease-in-out; */
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile__portrait {
  display: inline-block;
  width: 180px;
  height: auto;
  margin: 40px;
  /* border-radius: 50%; */
  filter: drop-shadow(10px 4px #12ccb0);
  justify-content: center;
}

.image_container {
  text-align: center;
}

.icon_container {
  text-align: center
}

header {
  position: fixed;
  z-index: 99;
}


/* ------navbar------- */

.navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.navbar-brand {
  margin-left: 20px;
}

.nav-item {
  background-color: rgb(34, 34, 34);
}

.nav-item:hover {
  background-color: rgb(0, 0, 0);
}

.nav-link__title {
  margin-left: auto; 
  margin-right: 0;
  font-size: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-item {
  text-align: right;
}




.page-header {
  /* background-color: #1b1b1b; */
  background-color: #0c0d0f;
  display: flex;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 2px 2px solid rgba(0, 0, 0, 0.15);
  /* position: fixed; */
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* .profile {
  max-width: 900px;
  margin: 10px;
} */

.about-me {
  text-align: center;
}

.contact-me {
  padding: 20px 20px 0px;
}

/* .project-section {
  padding: 20px 20px 0px;
} */

.card {
  color: #1d1e23;
}

.modal {
  color: #1d1e23;
}

.about-me-list {
  list-style-type: none;
  padding-left: 0%;
  font-size: 24px;
  font-weight: 350;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: lightgrey;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .grid__item:last-child {
    grid-column: 3/3;
    grid-row: 1/3;
  }
}

/* responsive design stuff */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.about-me-section {
  max-width: 700px;
  margin: 0 auto;
}

@keyframes zoominskyline {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.3, 1.3);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoommountains {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.st5 {
  animation: zoominskyline 40s;
}

.st4,
.st3 {
  animation: zoommountains 40s;
}

/*
.st33 {
  animation-duration: 40s;
  animation-name: skyline-zoom;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
*/

* {
  box-sizing: border-box;
}

.modal-image {
  margin-bottom: 20px;
}
